.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: goldenrod;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.go-to-top.visible {
    opacity: 1;
}