.go-to-top {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    background-color: goldenrod;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.go-to-top.visible {
    opacity: 1;
}

@media (min-width: 768px) {
    .go-to-top {
        width: 3rem;
        height: 3rem;
    }
}