.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1rem;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (min-width: 768px) {
  .App-logo {
    height: 40vmin;
  }
}

.App-header {
  background-color: #282c34;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.App-link {
  color: #61dafb;
  margin-top: 1rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .App-link {
    font-size: 1.5rem;
  }
}